<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Message Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <fieldset>
        <div>
            <legend>The Dojo Message Board!</legend>
        </div>
        <div>
            <form action='/messages' method="POST">
                Name: <input type="text" name="name">
                Message: <input type="type" name="message">
                <input type="submit" name="button" value="Post Message">
            </form>
        </div>
        <div id="exisitng_messages">
            <h1> Check out the Messages! </h1>
            <% if (messages.length > 0 ) { %>
                <% for (const message of messages) {%>
                    <h3>Name: <%= message.name %></h3>
                    <p>Mesage: <%= message.message %></p>
                    <% for (const comment of message._comments) {%>
                        <h5>Name: <%= comment.name %></h5>
                        <h5>Comment: <%= comment.comment %></h5>
                    <% } %>
                    <form action='/comments/<%= message._id %>' method ="POST">
                     Name: <input type="text" name="name">
                     Comment: <input type="type" name="comment">
                     <input type="submit" name="button" value="Post Comment">
                    </form>
                     <% } %>
                <% } %>
        </div>
    </fieldset>
</body>
</html>